<div class="form-navigation">

  <div (click)="select(SELECTIONS.INFO)" class="navigation-step {{appStoreService.selected===SELECTIONS.INFO&&'selected'}}">
    <div class="navigation-point-container flex-center">
      <div class="navigation-point flex-center"> <span> 1 </span> </div>
    </div>
    <div class="navigation-step-info">
      <div class="navigation-step-count">Step 1</div>
      <div class="navigation-step-name">Your Info</div>
    </div>
  </div>

  <div (click)="select(SELECTIONS.PLAN)" class="navigation-step {{appStoreService.selected===SELECTIONS.PLAN&&'selected'}}">
    <div class="navigation-point-container flex-center">
      <div class="navigation-point flex-center"> <span> 2 </span> </div>
    </div>
    <div class="navigation-step-info">
      <div class="navigation-step-count">Step 2</div>
      <div class="navigation-step-name">Select plan</div>
    </div>
  </div>

  <div (click)="select(SELECTIONS.ADDONS)" class="navigation-step {{appStoreService.selected===SELECTIONS.ADDONS&&'selected'}}">
    <div class="navigation-point-container flex-center">
      <div class="navigation-point flex-center"> <span> 3 </span> </div>
    </div>
    <div class="navigation-step-info">
      <div class="navigation-step-count">Step 3</div>
      <div class="navigation-step-name">Add-ons</div>
    </div>
  </div>

  <div (click)="select(SELECTIONS.SUMMARY)" class="navigation-step {{appStoreService.selected===SELECTIONS.SUMMARY&&'selected'}}">
    <div class="navigation-point-container flex-center">
      <div class="navigation-point flex-center"> <span> 4 </span> </div>
    </div>
    <div class="navigation-step-info">
      <div class="navigation-step-count">Step 4</div>
      <div class="navigation-step-name">Summary</div>
    </div>
  </div>

</div>
